# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/dist/
/build/

# Generated documentation
# /docs/  # Uncomment to ignore docs folder

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

package-lock.json
yarn.lock
.roomodes

# IDE
.vscode/
.idea/
.clinerules/
.roo/
 
